---
import CustomerTestimonials from "../components/sections/testimonials/CustomerTestimonials.astro";
import EnvironmentalImpact from "../components/sections/environment/EnvironmentalImpact.astro";
import FeaturedProjects from "../components/sections/featured/FeaturedProjects.astro";
import GetInvolved from "../components/sections/cta/GetInvolved.astro";
import Hero from "../components/sections/hero/Hero.astro";
import KeyServices from "../components/sections/services/KeyServices.astro";
import LatestInnovations from "../components/sections/innovations/LatestInnovations.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome  ">
  <main class="flex flex-col gap-y-20 md:gap-y-40 overflow-hidden">
    <Hero />
    <KeyServices />
    <LatestInnovations />
    <EnvironmentalImpact />
    <CustomerTestimonials />
    <FeaturedProjects />
    <GetInvolved />
  </main>
</Layout>
